/**
* 主色调&字体规范
**/

/* 颜色 */
$pink: #F3A4A4; // 主题粉色
$red: #E01B1C; // 主题红
$red_deep: #94030D; // 主题红_深

$borderClr: #D9D9D9; // 边框色
$borderClr__hover: #E01B1C; // 边框色__选中态

$fontClr_main: #231815; //主要字体色
$fontClr_1st: #333333; // 一级提示
$fontClr_2nd: #999999; // 二级提示
$fontClr_3rd: #b9b9b9; // 三级提示

/* 字体 */
$fontSiz_main: 36rpx;


/* 宽度 */
$borderSiz_main: 2rpx;

/* 圆角 */
$radious_main: 40rpx;
