/**
* 主色调&字体规范
**/

/* 颜色 */
$pink: #F3A4A4; // 主题粉色
$red: #E01B1C; // 主题红
$red_new:#db4d3d; // 主题红_新
$red_deep: #94030D; // 主题红_深
$white: #FFFFFF;


$borderClr: #D9D9D9; // 边框色
$borderClr__hover: #E01B1C; // 边框色__选中态

$fontClr_main: #231815; //主要字体色
$fontClr_1st: #333333; // 一级提示
$fontClr_2nd: #999999; // 二级提示
$fontClr_3rd: #b9b9b9; // 三级提示
$fontClr_4th: #fadbdb;

$fontClr_info_input: #666666;
$fonrClr_info_label: #333333;
/* 字体 */
$fontSiz_main: 36rpx;
$fontInfo: 32rpx;

/* 宽度 */
$borderSiz_main: 2rpx;

/* 圆角 */
$radious_main: 40rpx;


//基础字号
$f-size-large: 56rpx;
$f-size-bigger: 36rpx;
$f-size-big: 32rpx;
$f-size-base: 28rpx;
$f-size-small: 24rpx;

//场景化字号
$f-size-h1: $f-size-large !default;
$f-size-h2: $f-size-bigger !default;
$f-size-h3: $f-size-big !default;
$f-size-content: $f-size-base !default;
$f-size-tip: $f-size-small !default;

